body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partUser{
    width: 100%;
    min-height: 100vh;
}

.section_User{
    width: 100%;
}

.User_search_add{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search, .User_search_add button{
    width: 70%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ECECEC;
}

.User_search_add button{
    width: 20%;
    border: none;
    background-color: #4788F4;
    cursor: pointer;
}

.User_search_add button i{
    margin-left: 10px;
}

.User_search_add button p{
    color: #fff;
    font-size: 16px;
}

input {
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

input:focus{
    outline: none;
}

.fa-search{
    width: 10%;
    text-align: center;
    transform: rotateY(180deg);
    font-size: 25px;
}


.table{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    background-color: #FAF9F8;
    border-radius: 10px;
    margin-bottom: 20px;
}
  
td, th {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

th{
    padding: 20px;
}

tbody .fa{
    font-size: 20px;
}

.fa-edit{
    color: #4CCD99;
}

.fa-trash{
    color: red;
}


.fa-map-marker-alt{
    color: red;
}

.state_user, .state_user option{
    padding: 2px 20px;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.state_user:focus{
    outline: none;
}



/* window edit data of the user  */
.edit_data_user, .addUser{
    background-color: #fff;
    width: 50%;
    height: 440px;
    position: fixed;
    top: 20%;
    box-shadow: 1px 8px 15px gray;
    border-radius: 5px;
    display: none;
}

.addUser{
    height: 480px;
    top: 15%;
}

.fa-times{
    position: absolute;
    top: 10px !important;
    color: #555 !important;
}

.info_user{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.info_user input{
    background-color: #eee !important;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    padding-left: 40px;
}

.iconUser{
    color: #555 !important;
    position: absolute !important;
    left: 12%;
    font-size: 15px !important;
}

#btn_edit_User, #btn_add_User{
    background-color: #4788F4 !important;
    cursor: pointer;
    border: none;
    font-size: 12px;
    color: #fff !important;
}

 .edit_data_user .reponce, .addUser .reponce{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reponce h3{
    width: 90%;
    color:#fff;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reponce h3.err{
    background:#d64040e2;
}

.reponce h3.succes{
    background:#1fc51fb1; 
}


/* window confirmation */
.window_conf{
    background-color: #fff;
    width: 40%;
    height: 200px;
    position: fixed;
    top: 38%;
    box-shadow: 1px 8px 15px gray;
    border-radius: 5px;
}

.window_conf div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.window_conf button{
    font-size: 16px;
    padding: 5px 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
 
.window_conf #btnYes{
    background-color: #4788F4;
    color: #fff;
}


.window_conf #btnNo{
    border: 1px solid #4788F4;
    background: transparent;
}

@media (max-width:900px){
    .window_conf{
        width: 50%;
    }
}


@media (max-width:800px){
    .edit_data_user, .addUser{
        width: 90%;
    }
    .table{
        width: 100%;
        overflow-x: scroll;
        display: block;
    }
    .fa-search {
        width: 25%;
        font-size: 20px;
    }
    .search{
        width: 65%;
    }
    .User_search_add button{
        width: 30%;
    }
    .User_search_add button p{
        font-size: 10px;
    }
    .User_search_add button i{
        font-size: 15px;
    }
   
}


@media (max-width:400px) {
    .fa-map-marker-alt, .fa-user{
        font-size: 16px;
    }
    th, td{
        padding: 10px 40px;
        font-size: 13px;
    }
    th{
        padding: 20px 10px;
    }
    .state_user, .state_user option{
        padding: 2px 10px;
        font-size: 10px;
    }
    .edit_data_user, .addUser{
        width: 95%;
    }
    .window_conf{
        width: 80%;
    }
    
    
    
}