*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'tenor';
    src: url('TenorSans-Regular.ttf');
}


@font-face {
    font-family: 'tajawal';
    src: url('Tajawal-Regular.ttf');
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partCollector{
    width: 100%;
    min-height: 100vh;
}


header{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}


.logo, .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'tenor';
}

label , .logout i{
    font-size: 16px !important;
    color: #555;
}


.logout label{
    font-family: "tajawal";
    padding-right: 8px;
}

.logout label, .logout i{
    cursor: pointer;
}

.section1 h2{
    font-size: 25px;
    text-align: center;
    font-family: "tajawal";
    color: #555;
    padding: 25px;
}

.command button, .command h4, .command p,.command i{
    font-size: 16px;
}

.command{
    padding: 10px;
    background-color: #eee;
    color: #555;
    border-radius: 10px;
    margin: 15px;
}

.info_cmnd{
    width: 50%;
}

.command, .info1{
    display: flex;
    align-items: center;
}

.allBottons{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info1{
    justify-content: flex-end;
}

.info1 h4{
    padding-left: 10px;
}

.info1 i{
    color: red;
    cursor: pointer;
}

.info_cmnd div, .info_cmnd p{
    padding: 2px;
}



.allBottons button{
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.done{
    background-color: #4CCD99;
}

.encour{
    background-color: #4788F4;
}



/* window alert */
.window_alert{
    background-color: #fff;
    width: 40%;
    height: 200px;
    position: fixed;
    top: 38%;
    box-shadow: 1px 8px 15px gray;
    border-radius: 5px;
}

.window_alert div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}


.window_alert button{
    font-size: 16px;
    padding: 5px 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
 
.window_alert #btnYes{
    background-color: #4788F4;
    color: #fff;
}

.window_alert h1{
    width: 100%;
    text-align: center;
    font-family: "tajawal";
    font-size: 25px;
    padding: 30px;
}

@media (max-width:900px){
    .window_alert{
        width: 50%;
    }
}

@media (min-width:700px) {
    .command{
        width: 50%;
    }

    .allCommand{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

   
}

@media (max-width:550px) {
    .window_alert{
        width: 80%;
    }
}

@media (max-width:380px) {
    .command{
        flex-direction: column-reverse;
    }

    .allBottons{
        width: 71%;
    }
    .info_cmnd {
        width: 66%;
    }
    .info1{
        width: 100%;
        justify-content: center;
    }
    .info2{
        display: flex;
        justify-content: space-between;
    }
    .window_alert{
        width: 95%;
    }
}